 <h1>All Transactions</h1>

  <h2>Click on a date to view more details about that transaction</h2>

  <table class="center" border="3" style="width:70%">
    <tr align="left">
      <th>Date</th>
      <th>Merchant</th>
      <th>Type</th>
      <th>Description</th>
      <th>Account</th>
      <th style="text-align:right">Amount</th>
    </tr>
    <% @purchases.each do |purchase| %>
    <tr>
      <td><a href="/purchases/<%=purchase.id %>"><%= purchase.nice_date(purchase.pur_date) %></a></td>
      <td><%= purchase.merchant.mer_name %></td>
      <td><%= purchase.category.cat_name %></td>
      <td><%= purchase.description %></td>
      <td><%= purchase.account.acc_name %></td>
      <td style="text-align:right">£<%= '%.2f'% purchase.pur_amount %></td>
      
    </tr>
    <% end %>
    <tfoot>
      <tr>
        <td><b>Total</b></td>
        <td style="text-align:right" colspan="5"><b>£<%= @analysis.total_purchases %></b></td>
      </tr>
    </tfoot>
  </table>
  
  
  