<h1>Transaction Type: <%= @category.cat_name() %></h1>

  <h3>Spend Limit: £<%= '%.2f'% @category.budget %></h3>
  <hr>

  <div class="wrapper">
    <div class="button">
      <form method="link" action="/categories/<%= @category.id %>/transactions">
        <input type="submit" value="<%= @category.cat_name() %> Transaction List">
      </form>
    </div>

    <br>

    <div class="button">
      <form method="link" action="/categories/<%= @category.id %>/edit">
        <input type="submit" value="Edit this category">
      </form>
    </div>

    <h4>If you are no longer using this transaction type, you can delete it by clicking the button below</h4>

    <div class="button">
      <form action="/categories/<%= @category.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Category">
      </form>
    </div>
  </div>

  
  

  

  