<h1><%= @account.acc_name() %> Account</h1>

  <hr>

  <h3>Account Number: <%= @account.acc_num() %></h3>

  <h3>Current Balance: £<%= '%.2f'% @account.balance %></h3>

  <hr>

  <br>
  <div class="wrapper">
  <div class="button">
  <form method="link" action="/accounts/<%= @account.id %>/edit">
    <input type="submit" value="Edit Account">
  </form>
  </div>

  <br>

  <div class="button">
  <form method="link" action="/accounts/<%= @account.id %>/transactions">
    <input type="submit" value="List Account Transactions">
  </form>
  </div>

<h4>If you are no longer using this Account, you can delete it by clicking the button below</h4>

<div class="button">
<form action="/accounts/<%= @account.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Account" style="float:left">
</form>
</div>
</div>