<h2><%= @account.acc_name() %> Account</h2>

<hr>

<b>Account Number:</b> <%= @account.acc_num() %>

<br>
<br>

<b>Current Balance:</b> £<%= '%.2f'% @account.balance %>

<hr>

<h4>Options:</h4>

  <a href="/accounts/<%= @account.id %>/transactions">See a list of all <%= @account.acc_name() %> Account transactions </a>

  <br>
  <br>

  <a href="/accounts">Return to the list of Accounts</a>

  <br>
  <br>

  <a href="/">Go to the Homepage</a>

  <br>
  <br>

  <a href="/accounts/<%= @account.id %>/edit">Edit this Account</a>

<br>
<br>

Udderwise, if you are no longer using this Account, you can delete it by clicking the button below

<br>
<br>

<form action="/accounts/<%= @account.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Account">
</form>