<nav>
  <ul>
    <li><a href="/">Return to Homepage</a></li>
    <li><a href="/accounts/<%= @account.id %>/edit">Edit this Account</a></li>
    <li><a href="/accounts/<%= @account.id %>/transactions">See a list of all <%= @account.acc_name() %> Account transactions </a></li>
    <li><a href="/accounts">Return to the list of Accounts</a></li>
  </ul>
</nav>

<h2><%= @account.acc_name() %> Account</h2>

<hr>

<strong>Account Number:</strong> <%= @account.acc_num() %>

<br>
<br>

<strong>Current Balance:</strong> £<%= '%.2f'% @account.balance %>

<hr>

<br>

If you are no longer using this Account, you can delete it by clicking the button below

<br>
<br>

<form action="/accounts/<%= @account.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Account">
</form>